<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="style.css" />
    <title>User Locations</title>
  </head>
  <body>
    <div id="map"></div>
    <button id="loginButton">Logout</button>
    <script>
      var showMap = L.map("map");
      document.getElementById("loginButton").onclick = function () {
        location.href = "/my-logout";
      };
      if (!navigator.geolocation) {
        alert("Your browser does not support geolocation");
      } else {
        navigator.geolocation.getCurrentPosition(setPosition);
      }
      async function setPosition(position) {
        const posLat = position.coords.latitude;
        const posLon = position.coords.longitude;
        const lat = posLat;
        const lon = posLon;
        const entryTime = new Date(position.timestamp).toLocaleTimeString(
          "en-US"
        );
        const data = { lat, lon, entryTime };
        const options = {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        };
        const res = await fetch("/", options);
        const resdata = await res.json();
        showMap.setView([posLat, posLon], 10);
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(
          showMap
        );
        const users = resdata.userInfo;
        const skip = resdata.skip;
        if (users.length <= 5) {
          for (i in users) {
            //console.log("This is: " + users[i]);
            mydata = users[i];
            //console.log(mydata);
            if (mydata.name !== skip) {
              L.marker([mydata.lat, mydata.lon]).addTo(showMap)
                .bindPopup(`User: ${mydata.name}<br>
            Time: ${mydata.time}`);
            }
          }
        } else {
          lastUsers = users.slice(-6);
          let counter = 5;
          for (i in lastUsers) {
            if (counter != 0) {
              //console.log("This is: " + lastUsers[i]);
              mydata = lastUsers[i];
              //console.log(mydata);
              if (mydata.name !== skip) {
                L.marker([mydata.lat, mydata.lon]).addTo(showMap)
                  .bindPopup(`User: ${mydata.name}<br>
             Time: ${mydata.time}`);
                counter = counter - 1;
              }
            }
          }
        }
      }
    </script>
  </body>
</html>
